*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;	
	font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
@keyframes slideleft{
	from{
		background-position:0%;
}
	to{
		background-position:90000%;
}
}
.menu-bar{
	background:rgb(10,10,10,0.3);
	text-align: left;
	background-repeat:repeat-x;
	animation:slideleft 5000s infinite linear;
	background-attachment:fixed;
	position: relative;
	min-height:50vh;
	position: absolute;
	background-size: cover;
	background-position: center;
}
h1{
	text-align: center;
	display: inline-block;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 50px;
	display: block;
	overflow: hidden;
	background-color: #111;
	position: sticky;
}
li{
	display:inline-block;
	padding :20px;
}
li a{
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	padding: 8px;
}
li a:hover{
	background-color:#000;
	color:#fff;
}
li a.active{
	background-color:#000;
}
li a, .dropbtn{
	display:inline-block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li .dropdown:hover .dropbtn{
	background-color: #000;
}
li.dropdown{
	display: inline-block;
}
.dropdown-content {
	display:none;
	position:absolute;
	background:rgb(32,32,32);
	min-width: 146px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}
.dropdown-content a{
	color: #fff;
	background-color:#111;
	padding:6px 10px;
	text-decoration: none;
	display: block;
	text-align: left;}
.dropdown-content a:hover{
	background:rgb(32,32,32);
}
.dropdown:hover .dropdown-content{
	display:block;
	z-index: 2;
	background:rgb(32,32,32);
}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: #fff;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding:15px;
}
.menu-bar ul li a{
	text-decoration: none;
	color:#fff;
}
.menu-bar,.fa{
	margin-right: 8px
}
.menu-bar ul li:hover .sub-menu-1{
	display:block;
	position: absolute;
	background:rgb(10,10,10,0.3);
	margin-top: 15px;
	margin-left:15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
	width:150px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:lastchild{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: dodgerblue;
}